[submodule "External/doctest"]
	path = External/doctest
	url = https://github.com/doctest/doctest.git
[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "External/enkiTS"]
	path = External/enkiTS
	url = https://github.com/dougbinks/enkiTS.git
[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/Solessfir/glfw.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/Solessfir/imgui.git
	branch = herta
[submodule "External/freetype"]
	path = External/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "External/NVRHI"]
	path = External/NVRHI
	url = https://github.com/NVIDIA-RTX/NVRHI.git
[submodule "External/im3d"]
	path = External/im3d
	url = https://github.com/john-chapman/im3d.git
[submodule "External/Jolt"]
	path = External/Jolt
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "External/fastgltf"]
	path = External/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "External/meshoptimizer"]
	path = External/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "External/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt.git
[submodule "External/smaa"]
	path = External/smaa
	url = https://github.com/iryoku/smaa.git
